@tailwind base;
@tailwind components;
@tailwind utilities;

.imageGlobal{
  max-width:100%;
}

ul{
  list-style:none;
}

li{
  list-style:none;
}
/*
.este-lauder-image{
  background-image: linear-gradient(to right, rgb(0 0 0 /.9), rgb(0 0 0/ .2)), url(../images/estee-lauder-header.jpg);
   background-size:cover;
  background-position: 50%;
  padding: 3rem 0;
}
*/


nav {
  position: fixed;
  top: 0;
  left: -100vw;
  width: 50%;
  height: 100%;
  z-index: 99;
  transition: all 0.2s ease-in-out;
 
 
}


nav.open {
  top: 0;
  left: 0;
  background-color: white;
  
  @apply shadow-2xl p-8 lg:shadow-none lg:p-0;
}

nav ul {
  padding-top: 60px;
  @apply flex items-start flex-col gap-4 lg:flex-row;
}

nav ul li {
  @apply font-bold text-lg cursor-pointer lg:font-normal lg:text-base;
}

.close {
  @apply absolute top-8 left-8;
  z-index: 999;
}



@media (min-width: 1024px) {
  .big-image {
    height: 100vh;
    
  }

  nav {
    position: relative;
    left: 0;
    width: auto;
    height: auto;
    z-index: auto;
     background-color: white;
  }

  nav.open {
    background-color: white;
  
  }

  nav ul {
    padding-top: 0;
  }
}



